In [5]:
import pandas_datareader.data as web
import pandas as pd

In [6]:
daily_prices = web.DataReader('AAPL', 'iex', '2018-1-1', '2019-1-1')

In [7]:
daily_prices.head()

                open      high       low     close    volume
date
2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934
2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899
2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597
2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018
2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766

In [8]:
#get weekly closing prices
daily_prices.index = pd.to_datetime(daily_prices.index)

In [9]:
daily_prices['close'].head()

date
2018-01-02    168.9872
2018-01-03    168.9578
2018-01-04    169.7426
2018-01-05    171.6751
2018-01-08    171.0375
Name: close, dtype: float64

In [10]:
#get weekly closing prices
weekly_prices = daily_prices['close'].resample('W-FRI').last()
weekly_prices.head()

date
2018-01-05    171.6751
2018-01-12    173.7254
2018-01-19    175.0694
2018-01-26    168.2514
2018-02-02    157.4506
Freq: W-FRI, Name: close, dtype: float64

In [11]:
#get montly closing prices
monthly_prices = daily_prices.close.resample('M').last()
monthly_prices.head()

date
2018-01-31    164.2490
2018-02-28    175.4484
2018-03-31    165.2635
2018-04-30    162.7812
2018-05-31    184.7768
Freq: M, Name: close, dtype: float64

In [12]:
#compute weekly returns
weekly_returns = weekly_prices / weekly_prices.shift(1)-1
weekly_returns.head()

date
2018-01-05         NaN
2018-01-12    0.011943
2018-01-19    0.007736
2018-01-26   -0.038945
2018-02-02   -0.064194
Freq: W-FRI, Name: close, dtype: float64

In [13]:
weekly_returns = weekly_returns.dropna()

In [14]:
weekly_returns.size

52

In [15]:
m = 100

In [18]:
bootstrap_returns = weekly_returns.sample(m, replace=True, random_state=0)

In [19]:
bootstrap_returns.size

100